<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Create Campaign</h5>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-5 pr-1">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.title"  name="title" required>
                </div>
              </div>
              <div class="col-md-3 px-1">
                <div class="form-group">
                  <label>About</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.about" name="about" required>
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Start At</label>
                  <input type="datetime-local" class="form-control" [(ngModel)]="campaign.start_at" name="startAt" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 pr-1">
                <div class="form-group">
                    <label>End At</label>
                    <input type="datetime-local" class="form-control" [(ngModel)]="campaign.end_at" name="endAt" required>
                </div>
              </div>
              <div class="col-md-6 pl-1">
                <div class="form-group">
                    <label>Repeat Threshold</label>
                    <input type="number" class="form-control" [(ngModel)]="campaign.repeat_threshold" name="repeatThreshold" required>
                </div>
              </div>
              <div class="col-md-7 pr-1">
                <div class="form-group">
                    <label>SQL</label>
                    <textarea class="form-control" [(ngModel)]="campaign.sql" name="sql" required></textarea>
                </div>
              </div>
              <div class="col-md-8 pl-1">
                <div class="form-group">
                    <label>Mail Subject</label>
                    <input type="text" class="form-control" [(ngModel)]="campaign.mail.subject" name="mailSubject" required>
                </div>
              </div>
              <div class="col-md-8 pr-1">
                <div class="form-group">
                    <label>Mail Content</label>
                    <textarea class="form-control" [(ngModel)]="campaign.mail.content" name="mailContent" required></textarea>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-10 pr-1">
                    <div class="form-group">
                        <label>Mail Content Type</label>
                        <input type="text" class="form-control" disabled value ="html"[(ngModel)]="campaign.mail.content_type" name="mailContentType" required>
                    </div>
                  </div>
                  <div class="col-md-10 px-1">
                    <div class="form-group">
                        <label>Sender Name</label>
                        <input type="text" class="form-control" [(ngModel)]="campaign.mail.from.name" name="fromName" required>
                    </div>
                  </div>
                  <div class="col-md-10 pl-1">
                    <div class="form-group">
                        <label>Sender Email</label>
                        <input type="email" class="form-control" [(ngModel)]="campaign.mail.from.email" name="fromEmail" required>
                    </div>
                  </div>
                  <div class="col-md-11 pr-1">
                    <div class="form-group">
                        <label>Reply-To Name</label>
                        <input type="text" class="form-control" [(ngModel)]="campaign.mail.reply_to.name" name="replyToName" required>
                    </div>
                  </div>
            </div>
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                    <label>Reply-To Email</label>
                    <input type="email" class="form-control" [(ngModel)]="campaign.mail.reply_to.email" name="replyToEmail" required>
                </div>
              </div>
              <!--<div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Country</label>
                  <input type="text" class="form-control" placeholder="Country" value="Andrew">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Postal Code</label>
                  <input type="number" class="form-control" placeholder="ZIP Code">
                </div>
              </div>-->
            </div>
            <button type="submit" class="btn btn-primary">Create Campaign</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
